/*
IMPORTANT NOTE:
 This file SHOULD NOT BE EDITED MANUALLY, as its purpose
 is to be the point where all your stylesheet-files will
 be imported
*/
input[type=text], input[type=tel], input[type=password], input[type=email] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  min-width: 160px; }

input[type=file] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  max-height: 40px; }

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px; }

select {
  padding: 10px;
  font-size: 18px; }

button {
  text-align: center; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

body,
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

h1, h2, h3, h4, h5, a {
  font-family: 'raleway', Helvetica, sans-serif; }

body {
  font-family: Lato,"Helvetica Neue",Arial,sans-serif; }

:focus {
  outline: none; }

div {
  font-size: 18px; }

.button {
  background: #43de9f;
  padding: 6px 8px;
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  background: -webkit-linear-gradient(180deg, #43de9f, #3bbd86);
  background: linear-gradient(270deg, #43de9f, #3bbd86);
  background-size: 110% 110%;
  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.button:hover {
  background: -webkit-linear-gradient(180deg, #43de9f, #2a855e);
  background: linear-gradient(270deg, #43de9f, #2a855e);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.01);
  background-size: 150% 150%; }

.button:active {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.02);
  background-size: 400% 400%; }

.warning {
  background: #ffc27e;
  padding: 6px 8px;
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  background: -webkit-linear-gradient(180deg, #ffc27e, #daa66c);
  background: linear-gradient(270deg, #ffc27e, #daa66c);
  background-size: 110% 110%;
  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.warning:hover {
  background: -webkit-linear-gradient(180deg, #ffc27e, #a57e52);
  background: linear-gradient(270deg, #ffc27e, #a57e52);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.01);
  background-size: 150% 150%; }

.warning:active {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.02);
  background-size: 400% 400%; }

.danger {
  background: #ec2e42;
  padding: 6px 8px;
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  background: -webkit-linear-gradient(180deg, #ec2e42, #ba2434);
  background: linear-gradient(270deg, #ec2e42, #ba2434);
  background-size: 110% 110%;
  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.danger:hover {
  background: -webkit-linear-gradient(180deg, #ec2e42, #901c28);
  background: linear-gradient(270deg, #ec2e42, #901c28);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.01);
  background-size: 150% 150%; }

.danger:active {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.02);
  background-size: 400% 400%; }

.save {
  background: #5294cc;
  padding: 6px 8px;
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  background: -webkit-linear-gradient(180deg, #5294cc, #39678e);
  background: linear-gradient(270deg, #5294cc, #39678e);
  background-size: 110% 110%;
  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.save:hover {
  background: -webkit-linear-gradient(180deg, #5294cc, #274661);
  background: linear-gradient(270deg, #5294cc, #274661);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.01);
  background-size: 150% 150%; }

.save:active {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.02);
  background-size: 400% 400%; }

i {
  margin: 0 6px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }

body {
  margin: 0; }

.dark-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100&0.62+0,1+100;Black+3D+%231 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(43, 45, 48, 0.62) 0%, #626262 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(43, 45, 48, 0.62) 0%, #626262 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.dark-bg-rev {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.62);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100&0.4+0,0.62+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(69, 72, 77, 0.62) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(69, 72, 77, 0.62) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#9e45484d',GradientType=0 );
  /* IE6-9 */ }

.red-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea4152+0,ec2e42+100 */
  background: #ea4152;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ea4152 0%, #ec2e42 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ea4152 0%, #ec2e42 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4152', endColorstr='#ec2e42',GradientType=0 );
  /* IE6-9 */ }

.white-text {
  color: white; }

a {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

a:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  color: #fefefe;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.bling {
  border-bottom: 1px solid #3bbd86;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-backface-visibility: hidden; }

.bling:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 100%; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translate3d(-100px, 100px, 1000px);
  transform: scale3d(0.8, 0.8, 0.8) translate3d(-100px, 100px, 1000px); }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.sample-show-hide {
  -webkit-transition: all linear 0.4s;
          transition: all linear 0.4s; }

.sample-show-hide.ng-hide {
  opacity: 0;
  -webkit-transform: translate3d(1000px, -1000px, 500px) scale3d(0.1, 0.5, 1);
          transform: translate3d(1000px, -1000px, 500px) scale3d(0.1, 0.5, 1); }

.header-show-hide {
  -webkit-transition: all linear 400ms;
          transition: all linear 400ms; }

.header-show-hide.ng-hide {
  opacity: 0;
  -webkit-transform: translate3d(1000px, 0, 0) scale3d(0.1, 1, 1);
          transform: translate3d(1000px, 0, 0) scale3d(0.1, 1, 1); }

/*# sourceMappingURL=main.css.map */
