layout {

}
:focus {outline:none;}
div {font-size: 18px}

.button {max-width:320px; background:#43de9f; padding:2px 4px; border-radius:2px; display:flex; justify-content: center; align-items: center}
.button:hover {box-shadow: 0 0 2px 2px rgba(255,255,255,.3)}
.button:active {box-shadow: 0 0 4px 4px rgba(255,255,255,.5)}

.save {max-width:320px; background:#5294cc; padding:2px 4px; border-radius:2px; display:flex; justify-content: center; align-items: center}
.save:hover {box-shadow: 0 0 2px 2px rgba(255,255,255,.3)}
.save:active {box-shadow: 0 0 4px 4px rgba(255,255,255,.5)}

.danger {max-width:320px; background: #ec2e42; padding:2px 4px; border-radius:2px; display:flex; justify-content: center; align-items: center}
.danger:hover {box-shadow: 0 0 2px 2px rgba(255,255,255,.3)}
.danger:active {box-shadow: 0 0 4px 4px rgba(255,255,255,.5)}

.disabled {max-width:320px; background: rgba(255,255,255,.1); border:1px solid; padding:2px 4px; border-radius:2px; display:flex; justify-content: center; align-items: center}
.disabled:hover {box-shadow: 0 0 2px 2px rgba(255,255,255,.3)}
.disableddanger:active {box-shadow: 0 0 4px 4px rgba(255,255,255,.5)}
i {margin:0 6px}

body {margin:0}

.dark-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100&0.62+0,1+100;Black+3D+%231 */
  background: -moz-linear-gradient(top,  rgba(69,72,77,0.62) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,0.62) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,0.62) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

.dark-bg-rev {
  box-shadow: 2px 2px 6px rgba(0,0,0,.62);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100&0.4+0,0.62+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(69,72,77,0.62) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(69,72,77,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(69,72,77,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#9e45484d',GradientType=0 ); /* IE6-9 */

}

.red-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea4152+0,ec2e42+100 */
  background: rgb(234,65,82); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(234,65,82,1) 0%, rgba(236,46,66,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(234,65,82,1) 0%,rgba(236,46,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(234,65,82,1) 0%,rgba(236,46,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4152', endColorstr='#ec2e42',GradientType=0 ); /* IE6-9 */

}

.white-text {color:white}

a {text-decoration: none; font-weight: bold;
  text-shadow: 1px 1px 3px #000; color:white; border-bottom:1px solid #ec2e42}
a:hover {text-decoration: none; font-weight: bold;
  text-shadow: 3px 3px 5px #000; color:#fefefe; border-bottom:1px solid #43de9f}