<div class="dark-bg-rev"
     ng-style="{background:'#555', width:'100vw', height:'60px', display:'flex', justifyContent:'space-between', alignItems:'center', position:'fixed', zIndex:10}">
    <a class="danger" ui-sref=".home"
         ng-style="{display:'flex', flex:'1 0 33%',flexDirection:'row', alignItems:'center', justifyContent:'center', padding:'10px' }">
        <img ng-style="{height:'40px', width:'40px', margin:'0 10px 0 0'}" src="images/forgingtechnology-logo.png"
             alt="Forging Technology - Vancouver Metal Work">
        <span ng-style="{display:'flex', justifyContent:'flex-start', alignItems:'flex-start', flexDirection:'column'}">
            <h1 ng-style="{margin:0, fontSize:'20px'}">
                Forging Technology
            </h1>
            <b ng-show="metal.u.xy[0]>=817">Vancouver Metal Work</b>
        </span>
    </a>

    <a ng-style="{flex: '1 1 25%', textAlign:'center', margin:'0 2px'}" target="_blank" ng-href="{{'mailto:'+metal.d.object.site.email}}" class="bling"><i
            class="fa fa-envelope"></i></a>
    <a ng-style="{flex: '1 1 50%', textAlign:'center',margin:'0 4px'}" ng-href="tel:{{metal.d.object.site.phone}}" class="bling"><b><i class="fa fa-phone"></i>
        <span ng-show="metal.u.xy[0] < 817 ? false: true">{{metal.d.object.site.phone}}</span></b></a>


    <a class="button" ng-style="{margin: '0 6px',flex:'1 1 25%', fontSize:metal.u.xy[0]>=817 ? '22px' : '18px'}"
        ng-click="metal.s.connect = !metal.s.connect; metal.a.anchor('share');"><b ng-style="{margin:'0'}">
        <i class=" fa fa-share"></i></b>
    </a>



</div>
<div ng-style="{display:'flex'}">
    <div ng-style="{width:metal.u.xy[0]<817?'80px':'160px', height:(metal.u.xy[1] - 60) +'px', padding:'2px', display:'flex', justifyContent:'space-between', alignItems:'center', alignContent:'center', flexDirection:'column', position:'fixed', top:'60px', background:'#555'}"
         ng-init="nav = [{name:'services', icon:'star', style:'button'},{name:'clients', icon:'users', style:'save'},{name:'gallery', icon:'image', style:'warning'},{name:'about', icon:'info', style:'danger'},{name:'admin/posts', icon:'gears', style:'save'},]">

        <a ng-href="#!{{link.name == 'home' ? '/' : '/'+ link.name}}" ng-repeat="link in nav"
           ng-style="{margin:0, flex: '1 1 auto', display:'flex', justifyContent:'center', alignItems:'center', width: '100%'}"
           class="dark-bg-rev {{style}}" ng-mouseover="showLink = true; style=link.style" ng-mouseleave="showLink = false; style=false">
            <p ng-style="{display:'flex', justifyContent:'space-around', flexDirection:'column', textAlign:'center'}">
                <i ng-hide="metal.u.xy[0]<817 && showLink"
                   class="fa {{metal.u.xy[0]>=817 ? 'fa-2x': null}} fa-{{link.icon}}"></i>
                <span ng-style="{fontSize: metal.u.xy[0]>=817 ? '20px' : '14px'}"
                      ng-show="metal.u.xy[0]>=817 || showLink">{{link.name | uppercase}}</span>
            </p>
        </a>
        <div
             class="dark-bg"
             ng-style="{position:'fixed', left: metal.u.xy[0] <817 ? '80px': '160px', top:'60px', bottom: (metal.u.xy[0] < 817 ? 40 : 0)+'px', overflowY:'scroll', overflowX:'hidden', width:(metal.u.xy[0]-(metal.u.xy[0] < 817 ? 80 : 160))+'px', padding:'4px'}">
            <connect ng-show="metal.s.connect"></connect>
            <ui-view  id="top"></ui-view>
            <div ng-style="{width:'100%'}" ng-hide="metal.s.full[metal.s.params].src || !metal.d.object.media[metal.d.object.site.footerImg].src">
                <b ng-style="{display:'flex', height:'160px', width:'100%', position:'absolute', padding:'0 25%', alignItems:'center', justifyContent:'center', textShadow:'3px 3px 2px rgba(0,0,0,.6)', textAlign:'center'}">
                    {{metal.d.object.site.footerText}}
                </b>
                <img ng-style="{width:'100%', height:'160px', objectFit:'cover'}" ng-src="{{metal.d.object.media[metal.d.object.site.footerImg].src}}" alt="metal.d.object.media[metal.d.object.site.footerImg].text">
            </div>
        </div>
        <div class="dark-bg-rev" ng-if="metal.u.xy[0] < 817"
             ng-style="{backgroundColor:'#000',position:'fixed', left: '80px', bottom:0, width:(metal.u.xy[0]-80)+'px', padding:metal.u.xy[1] < 817 ? '.5em': '1em', height:metal.u.xy[1] < 817 ? '40px': '80px'}">
            <div ng-style="{display:'flex', justifyContent:'space-between', alignItems:'center', padding:'0 10px'}">
                <a target="_blank" ng-href="{{'mailto:'+metal.d.object.site.email}}">
                    <i class="fa fa-envelope"></i>
                </a>
                <a ng-href="tel:{{metal.d.object.site.phone}}"><i class="fa fa-phone"></i>{{metal.d.object.site.phone}}</a>
            </div>
        </div>
    </div>

</div>