<form name="new">
<h2>New Entry Form</h2>
    <div ng-style="{display:'flex', flexDirection:'row', flexWrap:'wrap', justifyContent:'space-between'}"
         ng-init="addFlex = {flex:'1 1 auto', maxWidth:'auto', border:'rgba(0,0,0,.31)', margin:'10px'}">
        <label for="add-name" ng-style="addFlex">
            <h4>Name</h4>
            <input id="add-name" type="text" ng-model="add.name" placeholder="Name of entry">
            <div ng-show="!add.name" ng-style="{color:'red'}">* Entries must have a name.</div>
        </label>
        <label ng-style="addFlex" for="add-text">
            <h4>Main Text</h4><textarea id="add-text" ng-style="{width:'100%', minHeight:'100px'}"
                                        ng-model="add.text" placeholder="Add text"></textarea>
        </label>
        <label ng-style="addFlex" for="add-section">
            <h4>Choose Section</h4>
            <select name="choose-section" id="add-section" ng-model="add.section">
                <option value="{{sectionKey}}"
                        ng-repeat="(sectionKey, section) in metal.d.object.index.sections"
                        ng-init="$first ? add.section = sectionKey : null">{{sectionKey}}
                </option>
                <option value="new section">New Section</option>
            </select>
                <span ng-show="add.section === 'new section'">
                    <input
                            id="add-newsection"
                            placeholder="Add Section"
                            type="text" ng-model="newSection"
                            ng-blur="metal.d.object.index.sections[newSection] = {}; add.section = newSection">
                </span>
        </label>
        <label ng-style="addFlex" for="add-tags">
            <h4 ng-init="add.tags = []">Select Tags</h4>
            <div ng-style="{display:'flex', flexWrap:'wrap', justifyContent:'flex-start'}">
                <input
                        id="add-tags"
                        type="text"
                        ng-model="newTag"
                        placeholder="New Tag"
                        ng-change="newTag.indexOf(',') !== -1 ? clearTag = true: null; newTag.indexOf(',') !== -1 ? add.tags.push(newTag.replace(',','')) : null; clearTag ? newTag = null : null; clearTag = false"
                        ng-blur="newTag.length > 0 ? clearTag = true: null; newTag.length > 0 ? add.tags.push(newTag): null; clearTag ? newTag = null: null; clearTag = false">
                    <span   class="danger"
                            ng-repeat="(tagKey, tag) in add.tags track by $index"
                            ng-style="{border:'1px solid black', margin:'2px'}"
                            ng-click="add.tags.splice(tagKey,1);">
                            <span ng-style="{color:'white', background:'black', padding:'0 1px'}">x</span>
                            <b ng-style="{color:'black',background:'white', padding:'0 1px'}"> {{tag}}</b>
                    </span>
            </div>
        </label>
        <span ng-style="addFlex">
            <h4 ng-init="add.content = []">Attach Content</h4>
                <span ng-repeat="(contentKey, content) in metal.d.object.content">
                    <label for="content-{{$index}}">
                        <input id="content-{{$index}}" type="checkbox"
                               ng-change="attachContent ? add.content.push(contentKey) : add.content.splice(add.content.indexOf(contentKey), 1)"
                               ng-model="attachContent">
                        {{content.name}}{{content.section}}
                    </label>
                </span>
        </span>
        <span ng-style="addFlex"
              ng-init="add.media = []">
        <h4>Attach Media</h4>
        <div
                ng-style="{display:'flex', flexWrap:'wrap', background:'rgba(255,255,255,.9)', padding:'20px'}">

            <uploader></uploader>
            <img
                    ng-repeat="(fileKey, file) in metal.d.object.media"
                    ng-init="!attachThumb ? attachThumb = metal.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ file.name.replace('.','`') + '.json' ) : null"
                    ng-click="$parent.add.media.indexOf(fileKey) < 0 ? $parent.add.media.push(fileKey) : $parent.add.media.splice($parent.add.media.indexOf(fileKey),1);"
                    ng-style="{flex:'0 0 auto',width:'80px', height: '80px', border: $parent.add.media.indexOf(fileKey) >=0 ? 'rgba(0,0,0,.3) 2px solid': 'none'}"
                    ng-show="attachThumb"
                    ng-src="{{attachThumb.data.data}}" alt="">
        </div>

    </span>
        <label ng-style="addFlex" for="publish">
            <h4>Publish</h4>
            <input ng-init="add.publish=true" type="checkbox" ng-model="add.publish" id="publish"> Yes, publish this now.
        </label>
        <div ng-style="addFlex">
            <div ng-style="{width:'100%'}">
                <p class="save" ng-show="add.name" ng-click="metal.a.add('content', add); add={};"><i class="fa fa-plus"> </i> Add entry</p>
                <p class="disabled" ng-show="!add.name" ng-style="{color:'red'}">* Entries must have a name.</p>
            </div>
        </div>
    </div>

    <p ng-if="$root.debug" ng-repeat="(addKey, addVal) in add">{{ addKey+': ' + addVal }}</p>


</form>