<div ng-style="{width:'100vw', height:'10vh', padding:'1em'}">
    <div ng-style="{display:'flex'}">
        <h3 ng-style="{margin:0}">
            Admin: {{admin.s.type | uppercase}} {{admin.s.section | uppercase}}

        </h3>
    </div>
</div>
<div ng-style="{display:'flex'}">
    <div ng-style="{width:'20vw', height:'90vh', padding:'1em', display:'flex', justifyContent:'space-between', flexDirection:'column'}">
        <h2 ng-style="{flex: '1 1 auto'}">NAVIGATION</h2>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="metal.home">Home</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.services">Services</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.clients">Clients</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.posts">Posts</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.media">Media</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.about">About</a></div>
        <form ng-style="{display:'flex', flexDirection:'column'}" name="new">
            <label for="add-name">
                <span>Name</span><input id="add-name" type="text" ng-model="add.name">
            </label>
            <label for="add-content">
                <span>Select Content</span><textarea id="add-content" type="text" ng-model="add.content"
                                                     placeholder="Add text"></textarea>
            </label>
            <label for="add-section">
                <p>Add Section</p>
                <select name="choose-section" id="add-section" ng-model="add.section">
                    <option value="{{sectionKey}}"
                            ng-repeat="(sectionKey, section) in $parent.admin.d.object.index.sections">{{sectionKey}}
                    </option>
                    <option value="new section">New Section</option>
                </select>
                <span ng-show="add.section === 'new section'">
                    <input
                            id="add-newsection"
                            placeholder="Add Section"
                            type="text" ng-model="newSection"
                            ng-blur="admin.d.object.index.sections[newSection] = {}; add.section = newSection">
                </span>
            </label>
            <label for="add-tags">
                <span ng-init="add.tags = []">Select Tags</span>
                <button ng-repeat="(tagKey, tag) in add.tags" ng-click="add.tags.splice(tagKey,1);">x {{tag}}</button>
                <input id="add-tags" type="text" ng-model="newTag">
                <button type="button" ng-click="add.tags.push(newTag); newTag = ''">+</button>
            </label>
            <label>
                <span ng-init="add.media = []">Select Media</span>
                <button ng-click="admin.s.show.attachMedia = true">Attach Media</button>
                <button ng-click="admin.s.show.attachMedia = false">Done Selecting Media</button>
                <hr>
                <div ng-show="admin.s.show.attachMedia"
                     ng-style="{display:'flex'}">
                    <img
                            ng-repeat="(fileKey, file) in admin.d.object.media"
                            ng-init="!attachThumb ? attachThumb = admin.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ file.name.replace('.','`') + '.json' ) : null"
                            ng-click="$parent.add.media.indexOf(fileKey) < 0 ? $parent.add.media.push(fileKey) : $parent.add.media.splice($parent.add.media.indexOf(fileKey),1);"
                            ng-style="{flex:'1 1 auto',width:'80px', height: '80px', border: $parent.add.media.indexOf(fileKey) >=0 ? 'rgba(0,0,0,.3) 2px solid': 'none'}"
                            ng-show="attachThumb"
                            ng-src="{{attachThumb.data.data}}" alt="">
                </div>
                <hr>
            </label>
            <button type="button" ng-click="admin.a.add('content', add)">Add entry</button>
        </form>
        <uploader></uploader>
    </div>

    <div ng-style="{width:'80vw', height:'90vh', padding:'1em'}">
        <div>
            <div ng-repeat="(key, val) in admin.d.object.index.sections[admin.s.type]">
                {{admin.d.object.content[key]}}
                {{key}}: {{val}}
            </div>
        </div>
        <div ng-show="admin.s.showMedia"
             class="grid"
             ng-style="{display:'flex', flexFlow:'row wrap', justifyContent:'space-between'}">
            <div
                    ng-style="{flex:'1 1 auto'}"
                    ng-repeat="(key, val) in $parent.admin.d.array.media">
                <div>
                    <button ng-click="admin.a.rm('media', val.$id)">Remove</button>
                </div>
                <!-- TODO make next and prev feature for image viewing -->
                <div><img
                        ng-style="{height:'160px', background:thumb.data.data + ' no-repeat center center/cover'}"
                        ng-click="
                        admin.s.full.thumb = thumb.data.data;
                        admin.s.full.src = admin.d.object.media[val.$id].src || val.src;
                        admin.s.full.prev = {thumb: admin.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ $parent.admin.d.array[$parent.admin.s.type][$index-1].name.replace('.','`')), src:$parent.admin.d.array['media'][$index-1].src};
                        admin.s.full.next = {thumb: admin.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ $parent.admin.d.array['media'][$index+1].name.replace('.','`')), src:$parent.admin.d.array['media'][$index+1].src};"
                        ng-show="thumb"
                        ng-init="!thumb ? thumb = admin.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ ( admin.d.object.media[val.$id].name.replace('.','`') || val.name.replace('.','`') ) + '.json' ): null"
                        ng-src="{{thumb.data.data}}" alt="">
                    <div ng-if="admin.s.full"
                         ng-style="{display:'flex', justifyContent:'center', position:'fixed', top:0, bottom:0, left:0, right:0, background:'white', textAlign:'center'}">
                        <div ng-style="{margin:'0 auto'}">
                            <img ng-style="{position:'fixed', height:'100vh', width:'auto'}"
                                 ng-src="{{$parent.admin.s.full.src}}" alt="" ng-click="$parent.admin.s.full = false">
                            <img ng-style="{margin:'0 auto', height:'100vh', width:'auto'}"
                                 ng-src="{{$parent.admin.s.full.thumb}}" alt="" ng-click="$parent.admin.s.full = false">

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

