<span ng-show="!metal.s.auth" >
    <label for="email-login">
        <input ng-style="{maxWidth:'25%'}" type="text" id="email-login" ng-model="login.email" placeholder="Email">
    </label>
    <label for="pass-login">
        <input ng-style="{maxWidth:'25%'}" type="password" id="pass-login" ng-model="login.pass" placeholder="Password">
    </label>
    <b class="" ng-click="metal.a.login(login.email, login.pass)"><i class="fa fa-unlock-alt"></i>Login</b>
    <a ng-click="metal.a.reset(login.email)"><i class="fa fa-unlock-alt"></i>Reset Password</a>
    <div ng-show="metal.s.resetConfirmation">Check your email to reset your password</div>
</span>
<span ng-show="metal.s.auth" ng-click="metal.a.logout()"><i class="fa fa-lock"></i>Logout</span>