<div ng-style="{width:'100vw', height:'10vh', padding:'1em'}">
    <h1 ng-style="{margin:0}">
        This is the admin directive.
    </h1>
</div>
<div ng-style="{display:'flex'}">
    <div ng-style="{width:'20vw', height:'90vh', padding:'1em', display:'flex', justifyContent:'space-between', flexDirection:'column'}">
        <h2 ng-style="{flex: '1 1 auto'}">NAVIGATION</h2>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="metal.home">Home</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.services">Services</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.clients">Clients</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.posts">Posts</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.media">Media</a></div>
        <div ng-style="{margin:0, flex: '1 1 auto'}"><a ui-sref="admin.about">About</a></div>
    </div>

    <div ng-style="{width:'80vw', height:'90vh', padding:'1em'}">
        <h2>{{admin.s.type | uppercase}}</h2>
        <div ng-repeat="(key, val) in $parent.admin.d.array[$parent.admin.s.type]">
            <div>
                <button ng-click="admin.a.rm(admin.s.type, val.$id)">Remove</button>
            </div>
            {{val.$id}}: {{val}}
            <img ng-src="{{val.src[1000]}}" alt="">
        </div>
    </div>
</div>

