<div
        class="grid"
        ng-style="{display:'flex', flexFlow:'row wrap', justifyContent:'space-between'}">
    <uploader></uploader>
    <div
            ng-init="oldVal[$index] = metal.a.copy(metal.d.object.media[val.$id]);"
            ng-style="{flex:'0 0 auto', display:'flex', flexDirection:'column', width:'160px', margin:'2px', padding:'2px', background:'rgba(0,0,0,.2)', justifyContent:'space-between'}"
            ng-repeat="(key, val) in metal.d.array.media">
        <code ng-click="metal.s.show.mediaInfo[$index] = !metal.s.show.mediaInfo[$index]" ng-style="{width:'100%', overflow:'scroll'}">{{metal.d.object.media[val.$id].name}}</code>
        <b class="save" ng-show="metal.s.show.mediaInfo[$index]" ng-click="oldVal[$index] = metal.a.save('media', val.$id, val, oldVal[$index]); "><i class="fa fa-floppy-o"> </i> SAVE</b>
        <span ng-init="!thumb ? thumb = metal.a.get('https://sizzling-fire-2548.firebaseio.com/media/'+ ( metal.d.object.media[val.$id].name.replace('.','`') || val.name.replace('.','`') ) + '.json' ): null">
                <img
                        ng-style="{width:'100%', height: '160px', background:thumb.data.data + ' no-repeat center center/cover'}"
                        ng-click="
                        metal.s.full.thumb = thumb.data.data;
                        metal.s.full.src = metal.d.object.media[$parent.val.$id].src || $parent.val.src;"
                        ng-if="metal.d.object.media[val.$id].name || val.name"
                        ng-src="{{thumb.data.data}}" alt=""></span>
        <!-- TODO make next and prev feature for image viewing -->
        <div ng-show="metal.s.show.mediaInfo[$index]">
            <label ng-init="!metal.d.object.media[val.$id].text ? metal.d.object.media[val.$id].text = '' : null">
                <textarea ng-model="val.text" placeholder="No Description Set"></textarea>
            </label>
            <div>
                <span ng-init="!metal.d.object.media[val.$id].tags ? metal.d.object.media[key].tags = [] : null">Select Tags</span>
                <div ng-style="{display:'flex', flexWrap:'wrap', justifyContent:'flex-start'}">
                    <input
                            id="change-media-tags"
                            type="text"
                            ng-model="mediaNewTag"
                            placeholder="Add another tag"
                            ng-change="mediaNewTag.indexOf(',') !== -1 ? clearMediaTag = true: null; mediaNewTag.indexOf(',') !== -1 ? metal.d.object.media[key].tags.push(mediaNewTag.replace(',','')) : null; clearMediaTag ? mediaNewTag = null : null; clearMediaTag = false"
                            ng-blur="mediaNewTag.length > 0 ? clearMediaTag = true: null; mediaNewTag.length > 0 ? metal.d.object.media[key].tags.push(mediaNewTag): null; clearMediaTag ? mediaNewTag = null: null; clearMediaTag = false">
                        <span
                                ng-repeat="(tagKey, tag) in metal.d.object.media[key].tags track by $index"
                                ng-style="{border:'1px solid black', margin:'2px'}"
                                ng-click="metal.d.object.media[key].tags.splice(tagKey,1);">
                            <span ng-style="{color:'white', background:'black', padding:'0 1px'}">x</span>
                            <b ng-style="{color:'black',background:'white', padding:'0 1px'}"> {{tag}}</b>
                        </span>
                </div>

            </div>
            <i class="danger" type="button" ng-click="metal.a.rm('media', val.$id)"><i class="fa fa-close"> </i> remove</i>
            <hr>
        </div>
        <div ng-if="metal.s.full"
             ng-style="{display:'flex', justifyContent:'center', position:'fixed', top:0, bottom:0, left:0, right:0, background:'white', textAlign:'center'}">
            <div ng-style="{margin:'0 auto'}">
                <img ng-style="{position:'fixed', height:'100vh', width:'auto'}"
                     ng-src="{{metal.s.full.src}}" alt=""
                     ng-click="metal.s.full = false">
                <img ng-style="{margin:'0 auto', height:'100vh', width:'auto'}"
                     ng-src="{{metal.s.full.thumb}}" alt=""
                     ng-click="metal.s.full = false">
            </div>
        </div>
    </div>
</div>